<!-- <mat-toolbar color="primary">
  <span>
    <a routerLink="/">Maverics</a>
  </span>
  <span class="spacer"></span>
  <ul>
    <li *ngIf="userIsAuthenticated">
      <a mat-button routerLink="/create" routerLinkActive="mat-accent">New Idea</a>
    </li>
    <li *ngIf="!userIsAuthenticated">
      <a mat-button routerLink="/auth/login" routerLinkActive="mat-accent">Login</a>
    </li>
    <li *ngIf="!userIsAuthenticated">
      <a mat-button routerLink="/auth/signup" routerLinkActive="mat-accent">Signup</a>
    </li>
    <li *ngIf="userIsAuthenticated">
      <button mat-button (click)="onLogout()">Logout</button>
    </li>
  </ul>
</mat-toolbar> -->

<!-- Preloader -->
<div id="preloader">
  <div class="loader"></div>
</div>

<!-- **** Header Area Start **** -->
<header class="header-area">
  
  <!-- Main Header Start -->
  <div class="main-header-area animated">
      <div class="classy-nav-container breakpoint-off">
          <div class="container">
              <!-- Classy Menu -->
              <nav class="classy-navbar justify-content-between" id="rehomesNav">

                  <!-- Logo -->
                  <a class="nav-brand" href="./index.html">
                      <!-- <img src="./img/core-img/logo.png" alt=""> -->
                  Ideas with Code</a>

                  <!-- Navbar Toggler -->
                  <div class="classy-navbar-toggler">
                      <span class="navbarToggler"><span></span><span></span><span></span></span>
                  </div>

                  <!-- Menu -->
                  <div class="classy-menu">
                      <!-- Menu Close Button -->
                      <div class="classycloseIcon">
                          <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                      </div>
                      <!-- Nav Start -->
                      <div class="classynav">
                          <ul id="nav">
                              <li class="active"><a href="./index.html">Home</a></li>
                              <li><a href="./rent.html">Recent</a></li>
                              <li><a href="./about.html">About</a></li>
                              <li><a href="./blog.html">Blog</a></li>
                          </ul>

                          <!-- Contact btn -->
                          <div class="contact-btn mt-3 mt-lg-0 ml-3 ml-lg-5">
                              <a href="#">Login</a>
                          </div>
                      </div>
                      <!-- Nav End -->
                  </div>
              </nav>
          </div>
      </div>
  </div>
</header>
<!-- **** Header Area End **** -->