<!-- <mat-toolbar color="primary">
  <span>
    <a routerLink="/">Maverics</a>
  </span>
  <span class="spacer"></span>
  <ul>
    <li *ngIf="userIsAuthenticated">
      <a mat-button routerLink="/create" routerLinkActive="mat-accent">New Idea</a>
    </li>
    <li *ngIf="!userIsAuthenticated">
      <a mat-button routerLink="/auth/login" routerLinkActive="mat-accent">Login</a>
    </li>
    <li *ngIf="!userIsAuthenticated">
      <a mat-button routerLink="/auth/signup" routerLinkActive="mat-accent">Signup</a>
    </li>
    <li *ngIf="userIsAuthenticated">
      <button mat-button (click)="onLogout()">Logout</button>
    </li>
  </ul>
</mat-toolbar> -->

<!-- Preloader -->
<div id="preloader">
  <div class="loader"></div>
</div>

<!-- **** Header Area Start **** -->
<header class="header-area">
  
  <!-- Main Header Start -->
  <div class="main-header-area animated">
      <div class="classy-nav-container breakpoint-off">
          <div class="container">
              <nav class="classy-navbar justify-content-between" id="rehomesNav">

                  <a class="nav-brand" href="./index.html">
                      <img src="https://res.cloudinary.com/svp19/image/upload/v1571538395/inout%206.0/idea_logo_hvphwx.png" alt="Ideas Becho" style="max-height: 200px;">
                  </a> 

                  <div class="classy-navbar-toggler">
                      <span class="navbarToggler"><span></span><span></span><span></span></span>
                  </div>

                  <div class="classy-menu">
                      <div class="classycloseIcon">
                          <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                      </div>
                      <div class="classynav">
                          <ul id="nav">
                              <li>
                                <span>
                                  <button mat-button routerLink="/">Home</button>
                                </span>
                              </li>
                              <li *ngIf="userIsAuthenticated">
                                <a mat-button routerLink="/create" routerLinkActive="mat-accent" class="border border-rounded border-success text-success">New Idea</a>
                              </li>
                              <li>
                                <span *ngIf="!userIsAuthenticated">
                                  <button mat-button routerLink="/auth/login" routerLinkActive="mat-accent">Login</button>
                                </span>
                              </li>
                              <li *ngIf="!userIsAuthenticated">
                                  <button mat-button routerLink="/auth/signup" routerLinkActive="mat-accent">Signup</button>
                              </li>
                              <li class="nav-item dropdown">
                                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    
                                  </a>
                                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" routerLink="/about">About</a>
                                    <div *ngIf="userIsAuthenticated">
                                      <a class="dropdown-item" routerLink="/bids">Biddings</a>
                                      <a class="dropdown-item" routerLink="/offers">Offers</a>
                                      <a class="dropdown-item" routerLink="/bounty">Bounty</a>
                                      <a class="dropdown-item" routerLink="/bounty-create">Create a bounty</a>
                                      <div class="dropdown-divider"></div>
                                      <span>
                                        <button mat-button (click)="onLogout()">Logout</button>
                                      </span>
                                    </div>
                                  </div>
                                </li>                              
                          </ul>

                          <div class="contact-btn mt-3 mt-lg-0 ml-3 ml-lg-5">
                            
                            </div>
                      </div>
                  </div>
              </nav>
          </div>
      </div>
  </div>
</header>
<!-- **** Header Area End **** -->

<!-- Navigation --> 