<!-- **** Properties Hero Area Start **** -->
<div class="properties-hero-area d-flex flex-wrap align-items-center mb-80" *ngIf="!isLoading">
        <div class="properties-slide">
            <!-- Properties Slider -->
            <div id="property-thumb-silde" class="carousel slide wow fadeInUp" data-wow-delay="200ms" data-ride="carousel">
                

                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img [src]="idea?.imagePath" class="d-block w-100" alt="...">
                    </div>
                </div>
            </div>
        </div>

        <!-- Properties Content Area -->
        <div class="properties-content-area wow fadeInUp" data-wow-delay="200ms">
            <div class="properties-content-info">
                <h2>{{ idea?.title }}</h2>
                <div class="properties-location">
                    <p><i class="fa fa-map-marker mr-2" aria-hidden="true"></i>{{ idea?.associated_hackathon }}</p>
                    <p><i class="fa fa-calendar mr-2" aria-hidden="true"></i>20/10/2019</p>
                    <br>
                    <span *ngIf="userIsAuthenticated && userId !== idea?.creator">
                        <mat-form-field appearance="outline">
                            <mat-label>Bid Price</mat-label>
                            <input matInput type="number" placeholder="Price" [formControl]="priceBar" required>
                            <mat-error *ngIf="priceBar.invalid && priceBar.errors.required">Please enter a valid price.</mat-error>
                        </mat-form-field>
                        <br>
                        <button mat-button (click)="makeOffer(idea?.id, idea?.title)" class="btn btn-primary" [disabled]="priceBar.invalid" >Make Offer</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <!-- **** Properties Hero Area End **** -->

    <!-- **** Properties-area Start **** -->
    <div class="rehomes-properties-area">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-12 col-lg-8">
                    

                    <!-- Floor Thumb Content -->
                    <div class="floor-thumb-content mb-80 wow fadeInUp" data-wow-delay="200ms">
                        <h4 class="mb-30">Description</h4>
                        {{ idea?.description }}
                        <!-- Floor Thumb
                        <div class="floor-thumb">
                            <img src="./../../../../assets/template/img/bg-img/68.jpg" alt="">
                        </div> -->
                    </div>

                   <!-- Labels-->
                   <div class="row my-3">
                        <div class="bg-light mx-2 px-2 py-1 bg-rounded text-muted" *ngFor="let label of idea?.labels">
                            {{ label }}
                        </div>
                    </div>
                   
                    <!-- Team Information -->
                    <div class="row mb-5">
                    <div class="col-12 agent-information-area wow fadeInUp my-1" data-wow-delay="200ms">
                        <h4 class="mb-30">Team</h4>

                        <!-- Agent Information Info -->
                        <div class="agent-information-info d-flex align-items-center" *ngFor="let member of idea?.team_members">
                            <!-- Agent Info -->
                            <div class="agent-info">
                                <h4>{{ member }}</h4>
                                <!-- Agent Contact -->
                                <div class="agent-contact justify-content-between">
                                    <p>Phone: <span>+91 99999 99999 </span></p>
                                    <p>Email: <span>winners?@hackinout.co</span></p>
                                </div>
                                <a class="btn rehomes-btn mt-10" href="#">Contact us</a>
                            </div>
                        </div>
                    </div>
                    </div>  

                    <div class="row mt-5">
                    <div class="col-12 mt-5">                    
                            <div class="rehomes-news-area blog-details mt-5">
                                    <!-- <div class="container"> -->
                                        <div class="blog-details-area">
                                            <div class="row justify-content-between">
                                                <div class="col-12">
            
                                                    <!-- Comment Area Start -->
                                                    <div class="comment-area wow fadeInUp" data-wow-delay="200ms">
                                                            <!-- Comments Area -->
                                                            <div class="comment_area clearfix">
                                                                <h4 class="mb-30">2 Comments</h4>
                                
                                                                <ol>
                                                                    <!-- Single Comment Area -->
                                                                    <li class="single_comment_area">
                                                                        <!-- Comment Content -->
                                                                        <div class="comment-content d-flex">
                                                                            <!-- Comment Author -->
                                                                            <div class="comment-author">
                                                                                <img src="./../../../../assets/template/img/bg-img/61.jpg" alt="author">
                                                                            </div>
                                                                            <!-- Comment Meta -->
                                                                            <div class="comment-meta">
                                                                                <a href="#" class="post-date">Dec 19, 2019</a>
                                                                                <h5>Brandon Kelley</h5>
                                                                                <p>Neque porro qui squam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora.</p>
                                                                                <a href="#" class="like mr-2">Like</a>
                                                                                <a href="#" class="reply">Reply</a>
                                                                            </div>
                                                                        </div>
                                
                                                                        <ol class="children">
                                                                            <li class="single_comment_area">
                                                                                <!-- Comment Content -->
                                                                                <div class="comment-content d-flex">
                                                                                    <!-- Comment Author -->
                                                                                    <div class="comment-author">
                                                                                        <img src="./../../../../assets/template/img/bg-img/62.jpg" alt="author">
                                                                                    </div>
                                                                                    <!-- Comment Meta -->
                                                                                    <div class="comment-meta">
                                                                                        <a href="#" class="post-date">27 Aug 2019</a>
                                                                                        <h5>Mia Maya</h5>
                                                                                        <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetu adipisci velit, sed quia non numquam eius modi</p>
                                                                                        <a href="#" class="like mr-2">Like</a>
                                                                                        <a href="#" class="reply">Reply</a>
                                                                                    </div>
                                                                                </div>
                                                                            </li>
                                                                        </ol>
                                                                    </li>
                                
                                                                    <!-- Single Comment Area -->
                                                                    <li class="single_comment_area">
                                                                        <!-- Comment Content -->
                                                                        <div class="comment-content d-flex">
                                                                            <!-- Comment Author -->
                                                                            <div class="comment-author">
                                                                                <img src="./../../../../assets/template/img/bg-img/63.jpg" alt="author">
                                                                            </div>
                                                                            <!-- Comment Meta -->
                                                                            <div class="comment-meta">
                                                                                <a href="#" class="post-date">27 Aug 2019</a>
                                                                                <h5>Mike Phillips</h5>
                                                                                <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetu adipisci velit, sed quia non numquam eius modi</p>
                                                                                <a href="#" class="like mr-2">Like</a>
                                                                                <a href="#" class="reply">Reply</a>
                                                                            </div>
                                                                        </div>
                                                                    </li>
                                                                </ol>
                                                            </div>
                                                        </div>
                                                    <!-- </div> -->
                                                </div>
                                            </div>
                                    </div>
                                </div>
                            </div>
                    </div>

                    <!-- Leave A Reply -->
                    <div class="rehomes-comment-form mb-80 wow fadeInUp" data-wow-delay="200ms">
                        <h4 class="mb-30">Leave A Comment</h4>

                        <!-- Form -->
                        <!-- <form class="#" method="post"> -->
                            <div class="row">
                                <div class="col-12 col-lg-4">
                                    <input type="text" name="message-name" class="form-control mb-30" placeholder="Name">
                                </div>
                                <div class="col-12 col-lg-4">
                                    <input type="text" name="phone" class="form-control mb-30" placeholder="Number">
                                </div>
                                <div class="col-12 col-lg-4">
                                    <input type="email" name="message-email" class="form-control mb-30" placeholder="Email">
                                </div>
                                <div class="col-12">
                                    <textarea name="message" class="form-control mb-30" placeholder="Messages"></textarea>
                                </div>
                                <div class="col-12">
                                    <button type="submit" class="btn rehomes-btn mt-15">Send Messages</button>
                                </div>
                            </div>
                        <!-- </form> -->
                    </div>
                </div>

               
            </div>
        </div>
    </div>
    <!-- **** Properties-area End **** -->