<!-- **** Breadcrumb Area Start **** -->
<div class="breadcrumb-area bg-img bg-overlay-3 wow fadeInUp" data-wow-delay="200ms" style="background-image: url(img/bg-img/30.jpg);">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="breadcrumb-content">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">About</li>
                        </ol>
                    </nav>
                    <h2 class="page-title">About Us</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- **** Breadcrumb Area End **** -->

<!-- **** About Us Area Start **** -->
<section class="about-us-area section-padding-100-60">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="about-us-title mb-40 wow fadeInUp vh-50" data-wow-delay="200ms">
                    <h2>Welcome to <span>Ideas Bhejo.</span></h2>
                    <p>Ever made a cool hack in a hackathon but did'nt know what to do next.
                       Has entrepreneurship piqued your interest but the fear of not knowing kept you far away from it.
                       In a growing community of hackers, coming up with new ideas daily, we attempt to connect hackers with entrepreneurs and bridge the gap between a fresh hack to a funded startup.
                       For the lazy ones, we even give you a chance to sell your idea( actually product), literally! 
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
